
// Colors

$color-CTA-text: hsl(356, 100%, 66%);
$color-CTA-hover: hsl(355, 100%, 74%);
$color-headings: hsl(208, 49%, 24%);

// text

$color-text: hsl(0, 0%, 100%);
$color-Footer-text: hsl(240, 2%, 79%);
$color-body-text: hsl(207, 13%, 34%);

//bk
$bk-footer: hsl(240, 10%, 16%);
$bk-body:hsl(240, 2%, 79%);


// gradient

// CTA
// $background: rgb(255,143,112);

// $background: linear-gradient(100deg, rgba(255,143,112,1) 0%, rgba(255,61,84,1) 100%);


// body
// background: rgb(44,45,63);
// background: linear-gradient(90deg, rgba(44,45,63,1) 0%, rgba(63,65,100,1) 100%);