

// colors
 $violet : hsl(263, 55%, 52%);
 $grayish-blue : hsl(217, 19%, 35%);
 $blackish-blue: hsl(219, 29%, 14%);
 $white: hsl(0, 0%, 100%);

 $light-gray: hsl(0, 0%, 81%);
 $light-grayish: hsl(210, 46%, 95%);

 $bk-color: #edf2f8;
 $bk-cardP: hsl(263, 55%, 70%);

 $border-img: #ffffff;

 $c-role: hsl(0, 0%, 100%, 50%);
 $c-role2: hsl(217, 19%, 35%, 70%);

 // Fonts
 $font: 'Barlow Semi Condensed', sans-serif;
 $font-s : 13px;

 // debuger

 $border: 1px solid red;