

// colors

$c-white: hsl(0, 0%, 100%);
$c-black: hsl(0, 0%, 0%);
$c-Dgray: hsl(0, 0%, 55%);
$c-VdGray: hsl(0, 0%, 41%);


// font 

$Alata: 'Alata', sans-serif;
$Josefin: 'Josefin Sans', sans-serif;
$font-s: 15px;

// debuger;

$debuger: 1px solid red;